# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store

# Node/NPM
node_modules/
npm-debug.log*
yarn-error.log*

# Expo / React Native
.expo/
dist/
web-build/
